<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    <servlet>-->
<!--        <servlet-name>ABServlet</servlet-name>-->
<!--        <servlet-class>servlets.ABServlet</servlet-class>-->
<!--    </servlet>-->
    <servlet>
        <servlet-name>AdminLoginShortResponseServlet</servlet-name>
        <servlet-class>servlets.LightWeightAdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientLoginShortResponseServlet</servlet-name>
        <servlet-class>servlets.LightWeightClientLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyzeDataServlet</servlet-name>
        <servlet-class>servlets.AnalyzeDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceServlet</servlet-name>
        <servlet-class>servlets.BalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientsInformationServlet</servlet-name>
        <servlet-class>servlets.ClientsInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoansServlet</servlet-name>
        <servlet-class>servlets.LoansServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataSystemServlet</servlet-name>
        <servlet-class>servlets.DataSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesServlet</servlet-name>
        <servlet-class>servlets.CategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YazTimeServlet</servlet-name>
        <servlet-class>servlets.YazTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChargeMoneyServlet</servlet-name>
        <servlet-class>servlets.ChargeMoneyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawMoneyServlet</servlet-name>
        <servlet-class>servlets.WithdrawMoneyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLoanServlet</servlet-name>
        <servlet-class>servlets.NewLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovementServlet</servlet-name>
        <servlet-class>servlets.MovementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterServlet</servlet-name>
        <servlet-class>servlets.FilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateScrambleServlet</servlet-name>
        <servlet-class>servlets.UpdateScrambleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestLoanServlet</servlet-name>
        <servlet-class>servlets.InvestLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestmentLoansServlet</servlet-name>
        <servlet-class>servlets.InvestmentLoansServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBalanceServlet</servlet-name>
        <servlet-class>servlets.UpdateBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentsServlet</servlet-name>
        <servlet-class>servlets.PaymentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>servlets.NotificationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotificationsServlet</servlet-name>
        <servlet-class>servlets.AddNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPaymentServlet</servlet-name>
        <servlet-class>servlets.PayPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishLoanServlet</servlet-name>
        <servlet-class>servlets.FinishLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoansForSaleServlet</servlet-name>
        <servlet-class>servlets.LoansForSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleLoanServlet</servlet-name>
        <servlet-class>servlets.SaleLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyLoanServlet</servlet-name>
        <servlet-class>servlets.BuyLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewindModeServlet</servlet-name>
        <servlet-class>servlets.RewindModeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRewindModeServlet</servlet-name>
        <servlet-class>servlets.UpdateRewindModeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimeUnitInRewindModeServlet</servlet-name>
        <servlet-class>servlets.UpdateTimeUnitInRewindModeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersDataByTimeUnitRewindModeServlet</servlet-name>
        <servlet-class>servlets.CustomersDataByTimeUnitRewindModeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoansDataByTimeUnitRewindModeServlet</servlet-name>
        <servlet-class>servlets.LoansDataByTimeUnitRewindMode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AdminLoginShortResponseServlet</servlet-name>
        <url-pattern>/adminLoginShortResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLoginShortResponseServlet</servlet-name>
        <url-pattern>/clientLoginShortResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyzeDataServlet</servlet-name>
        <url-pattern>/client/loadxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceServlet</servlet-name>
        <url-pattern>/balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoansServlet</servlet-name>
        <url-pattern>/loans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataSystemServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesServlet</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YazTimeServlet</servlet-name>
        <url-pattern>/yaz_time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChargeMoneyServlet</servlet-name>
        <url-pattern>/charge_money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawMoneyServlet</servlet-name>
        <url-pattern>/withdraw_money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLoanServlet</servlet-name>
        <url-pattern>/create_new_loan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>MovementServlet</servlet-name>
        <url-pattern>/movements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestLoanServlet</servlet-name>
        <url-pattern>/invest_loan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestmentLoansServlet</servlet-name>
        <url-pattern>/invested_loans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientsInformationServlet</servlet-name>
        <url-pattern>/admin/clients_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterServlet</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateScrambleServlet</servlet-name>
        <url-pattern>/update_scramble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBalanceServlet</servlet-name>
        <url-pattern>/update_balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentsServlet</servlet-name>
        <url-pattern>/payments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotificationsServlet</servlet-name>
        <url-pattern>/add_notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPaymentServlet</servlet-name>
        <url-pattern>/pay_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishLoanServlet</servlet-name>
        <url-pattern>/finish_loan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoansForSaleServlet</servlet-name>
        <url-pattern>/loans_for_sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleLoanServlet</servlet-name>
        <url-pattern>/sale_loan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyLoanServlet</servlet-name>
        <url-pattern>/buy_loan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRewindModeServlet</servlet-name>
        <url-pattern>/update_rewind_mode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewindModeServlet</servlet-name>
        <url-pattern>/rewind_mode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimeUnitInRewindModeServlet</servlet-name>
        <url-pattern>/update_time_unit_rewind_mode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersDataByTimeUnitRewindModeServlet</servlet-name>
        <url-pattern>/customers_data_in_rewind_mode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoansDataByTimeUnitRewindModeServlet</servlet-name>
        <url-pattern>/loans_data_in_rewind_mode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>